{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
    <div id="columns" class="container">
    	<div class="row">
    		<div id="center_column" class="center_column col-sm-12 col-md-12">
              
                     	 	 <div class="container product-section">
     	<div class="affiliates-image" style="width: 45%;">
          <img src="{{ '404.png' | asset_url }}" class="affimage"/>
        </div>
     	<div class="affiliates-text"  style="width: 55%;">
       	  <p class="afftext" style="font-family: 'Francois One', sans-serif; font-size: 50px; line-height: 1; color: #222222;">OOPS...<br/>LOOKS LIKE<br/>NO ONE IS HOME</p>         
     	</div>  
     </div><br/><br/>
              <div style="width:100%; text-align: center; overflow: hidden;">
                <div class="nabtnsection">
              <a href="http://pridebites.com/collections/top-trending-all-products"><div class="btn-outline-reverse nabtn">
                <p style="font-family: 'Francois One', sans-serif; font-size: 24px; line-height: 1; color: #ffffff; margin-top: 5px;">TOP TRENDING<br>DESIGNS</p>
                </div></a>
              <a href="http://pridebites.com/collections/on-sale-all-products"><div class="btn-outline-reverse nabtn">
                <p style="font-family: 'Francois One', sans-serif; font-size: 24px; line-height: 1; color: #ffffff; margin-top: 5px;">CURRENTLY<br>ON SALE</p>
                </div></a>
                </div>
              </div>
              <br/><br/><br/><br/><br/>
    		</div>
		</div>
	</div>
</section>
