<section id="columns" class="columns-container">
       	 	 <div class="container product-section" style="padding-bottom:30px;">
           <h1 class="page-title">Jobs</h1>
       	 	 <div class="container product-section">
     	<div>
          <p style="text-align: center; font-size: 18px;">No jobs are currently available,<br/><br/><span style="font-weight: 900;">BUT WE HAVE SOME AWESOME PRODUCTS.</span><br/></p>         
     	</div>  
     </div>
               <br/>
               <div style="width: 100%; text-align: center;">
                 <a href="http://www.pridebites.com"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 15px !important;"><span >SHOP NOW</span></button></a>
               </div>
  </div>
  <br/><br/><br/><br/><br/><br/><br/>
</section>