<div style="background-image: url(https://cdn.shopify.com/s/files/1/0193/6115/files/main-bg.jpg?6946011104897248584); max-width:1920px; height:100%; background-position:center; background-repeat:no-repeat;">
<p style="font-family: 'Francois One', sans-serif; font-size: 48px; font-weight: 400; color: #FFFCFC !important; text-align: center; padding-top: 80px;">CUSTOM PET PRODUCTS<br/> FOR YOUR STORE</p><br/>


  <div class="container product-section" style="margin-top: 30px; padding-bottom: 20px; margin-left:auto;margin-right:auto; max-width:760px;">
  
  <div style="width:225px;float:left; margin-right:50px;">
  <div class="fa fa-check fa-3x" style="color:#fffcfc; float:left; padding-top:10px; padding-right:20px;"></div>
<p style="text-align: left; font-size: 18px; font-weight: 300; color: #FFFCFC; float:left;">
Create Exclusive <br/>and Unique Designs
  </p>
  </div>
  
    <div style="width:210px; float:left;margin-right:50px; " >
  <div class="fa fa-check fa-3x" style="color:#fffcfc; float:left; padding-top:10px; padding-right:20px;"></div>
<p style="text-align: left; font-size: 18px; font-weight: 300; color: #FFFCFC; float:left;">
Stand Out From <br/>Your Competitors
  </p>
  </div>
  
    <div style="width:205px; float:left;" >
  <div class="fa fa-check fa-3x" style="color:#fffcfc;  padding-top:10px; padding-right:20px;text-align:left;float:left;"></div>
<p style="text-align: left; font-size: 18px; font-weight: 300; color: #FFFCFC; float:left;">
Low Minimums<br/>With Low Risk
  </p>
  </div>
    
</div>

  
  <p style="text-align: center; padding-top: 20px; margin:0px;"><a href="#contact"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 12px 25px !important;"><span>GET STARTED</span></button></a> <br/>
  
  <i class="fa fa-chevron-circle-down fa-2x" style="color:#DB3340; margin-top:110px; padding-bottom:10px;"></i>
  </p>



</div>




  <div class="clear" style="width: 100%; background-color: white; padding-top: 20px; padding-bottom: 20px;">
    <div style="text-align: center;"><span style="padding-right: 60px; font-weight: 700;">PRODUCTS WE OFFER:</span>
    <span style="padding-right: 30px;">TOYS</span>
    <span style="padding-right: 30px;">COLLARS</span>
    <span style="padding-right: 30px;">LEASHES</span>
    <span style="padding-right: 30px;">POOP BAGS</span>
    <span style="padding-right: 30px;">PLACEMATS</span>
    <span style="padding-right: 30px;">BOWLS</span>
    <span style="padding-right: 30px;">BLANKETS</span></div>
</div>

        
        <div style="width:1920px; max-width:100%; float: right; margin-bottom:20px;">
	<div class="row" >
		<div class="col-lg-12" >
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >

				  <ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
					<li data-target="#carousel-example-generic" data-slide-to="5"></li>
					<li data-target="#carousel-example-generic" data-slide-to="6"></li>
				  </ol>
					
	  <div class="carousel-inner" style="transition: none !important;" >
					<div class="item active" >
                      <a href="#contact">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-toy-1-1.jpg?12597286048956466862" alt="" >
                      </a>
                    </div>
                    
					<div class="item">
					  <a href="#contact">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-collar-1-1.jpg?11566521239870979278" alt="">
                      </a>
					</div>

					<div class="item">
					  <a href="#contact">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-leash-1-1.jpg?16410810395219536825" alt="">
                      </a>
					</div>

					<div class="item">
					  <a href="#contact">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-placemat-1-1.jpg?16577511316337270924" alt="">
                      </a>
					</div>
                    
                  	<div class="item">
					  <a href="#contact">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-bowl-1-1.jpg?17453549029422522548" alt="">
                      </a>
					</div>

					<div class="item">
					  <a href="#contact">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-poopbag-1-1.jpg?17735264523567764135" alt="">
                      </a>
					</div>
              
                 	<div class="item">
					  <a href="#contact">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-blanket-1-2.jpg?1251933384496185788" alt="">
                      </a>
					</div>
					
				  </div>

				  <a class="left carousel-control" style="background-image:none !important;" href="#carousel-example-generic" role="button" data-slide="prev">
					<i class="fa fa-chevron-left" style="font-size: 40px !important;"></i>
				  </a>
				  <a class="right carousel-control" style="background-image:none !important;" href="#carousel-example-generic" role="button" data-slide="next">
					<i class="fa fa-chevron-right" style="font-size: 40px !important;"></i>
				  </a>
			</div>
		</div>
	</div>
</div>
        
        
        
<!--
<div style="width:1920px; max-width:100%; float: right; margin-bottom:20px;">
	<div class="row" >
		<div class="col-lg-12" >
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >

				  <ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
					<li data-target="#carousel-example-generic" data-slide-to="5"></li>
					<li data-target="#carousel-example-generic" data-slide-to="6"></li>
				  </ol>
					
              		{% comment %}
             ERROR: Text blocks and buttons on banner images are not responsive. 
                    {% endcomment %}

				  <div class="carousel-inner" style="transition: none !important;" >
					<div class="item active" >
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-toy-1.jpg?16454208158508683411" alt="" >
					  <div class="carousel-new-caption"  style="width:450px">
                        <p style="font-family: 'Francois One', sans-serif; font-size: 48px; font-weight: 400; text-align: left; color: #303030;">WORK WITH THE BEST</p>
            			<span style="font-size: 21px;font-weight: 100; color: #303030;">Incredible customer service, 100% transparency, free design mockups, low minimums, and quick turnaround times!</span><br/><br/>
                        <p style="text-align: left;"><a href="#contact"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
					  </div>     	
                    </div>
                    
					<div class="item">
					  <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-collar-1.jpg?13217789624591147323" alt="">
                      <div class="carousel-new-left-caption" style="width:450px; margin-top:-65px;">
                        <p style="font-family: 'Francois One', sans-serif; font-size: 48px; font-weight: 400; text-align: left;">CUSTOM DOG COLLARS</p>
            			<span style="font-size: 21px; font-style: italic; font-weight: 100;">"Our seven stores are in the greater Philadelphia region. A year ago we created our first custom line of "Philly" toys and our customers loved them! Since then we've created six new products including leashes and collars that are going great. We recommend Pridebites to everyone!"</span><br/><br/>
                        <span style="color: #FFD100;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><br/><br/>                       
                        <span style="font-size: 21px; font-weight: 400;">Howard N. </span><br/><span style="font-size: 21px; font-weight: 100;">Doggie Style Pets </span><br/><br/>
                        <p style="text-align: left;"><a href="#contact"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
					  </div> 
					</div>

					<div class="item">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-leash-1.jpg?13217789624591147323" alt="">
					  <div class="carousel-new-caption" style="width:450px;">
                        <p style="font-family: 'Francois One', sans-serif; font-size: 48px; font-weight: 400; text-align: left; color: #303030;">CHOOSE TO BE UNIQUE</p>
            			<span style="font-size: 21px; font-weight: 100; color: #303030;">Our design team will make your dreams a reality. Our attention to detail will have your customers raving.</span><br/><br/>
                        <p style="text-align: left;"><a href="#contact"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
					  </div> 
					</div>

					<div class="item">
					  <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-placemat-1.jpg?13217789624591147323" alt="">
                      <div class="carousel-new-left-caption" style="width:450px;">
                        <p style="font-family: 'Francois One', sans-serif; font-size: 48px; font-weight: 400; text-align: left; color: #303030;">QUALITY YOU CAN FEEL</p>
            			<span style="font-size: 21px; font-weight: 100; color: #303030;">Our products are crafted from only the finest materials: Ultra soft fleece, durable components, high quality stitching, made to last, and machine washable.</span><br/><br/>
                         <p style="text-align: left;"><a href="#contact"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
					  </div> 
					</div>
                    
                    		<div class="item">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-bowl-1.jpg?13217789624591147323" alt="">
					  <div class="carousel-new-caption" style="width:450px;">
                        <p style="font-family: 'Francois One', sans-serif; font-size: 48px; font-weight: 400; text-align: left; color: #303030;">CUSTOM DOG BOWL</p>
            			<span style="font-size: 21px; font-weight: 100; color: #303030; font-style: italic;">"The bowls Pridebites made provided us with what their competitors couldn't. Durability without the loss of style and design."</span><br/><br/>
                        <span style="color: #FFD100;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><br/><br/>
                        <span style="font-size: 21px; font-weight: 400; color: #303030;">Jason K. </span><br/><span style="font-size: 21px; font-weight: 100; color: #303030;">Buc-ee's</span><br/><br/>
                        <p style="text-align: left;"><a href="#contact"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
					  </div> 
					</div>

					<div class="item">
					  <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-poopbag-1.jpg?13217789624591147323" alt="">
                      <div class="carousel-new-left-caption" style="width:450px; margin-top:-65px;">
                        <p style="font-family: 'Francois One', sans-serif; font-size: 48px; font-weight: 400; text-align: left;">CUSTOM POOP BAGS</p>
            			<span style="font-size: 21px; font-weight: 100; font-style: italic;">"Pridebites supplies us with a product that's fully our brand, from the product itself to the packaging it comes in. And, their pricing is such that we can offer everyday items like our house-branded poop bags for less than competing products, while still maintaining a strong margin."</span><br/><br/>
                        <span style="color: #FFD100;"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><br/><br/> 
                        <span style="font-size: 21px; font-weight: 400;">Kate C. </span><br/><span style="font-size: 21px; font-weight: 100;">Tomlinson's</span><br/><br/>
                        <p style="text-align: left;"><a href="#contact"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
					  </div> 
					</div>
              
                    		<div class="item">
                      <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/retail-blanket-1-1.jpg?13355585314931807819" alt="">
					  <div class="carousel-new-caption" style="width:450px;">
                        <p style="font-family: 'Francois One', sans-serif; font-size: 48px; font-weight: 400; text-align: left; color: #303030;">CHANGE IT UP</p>
            			<span style="font-size: 21px; font-weight: 100; color: #303030;">The variety of products we offer can be successfully sold year round. Our low minimums allow you to keep up with seasonal designs and trends, maximizing profits and company relevance.</span><br/><br/>
                        <p style="text-align: left;"><a href="#contact"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
					  </div> 
					</div>
					
				  </div>

				  <a class="left carousel-control" style="background-image:none !important;" href="#carousel-example-generic" role="button" data-slide="prev">
					<i class="fa fa-chevron-left" style="font-size: 40px !important;"></i>
				  </a>
				  <a class="right carousel-control" style="background-image:none !important;" href="#carousel-example-generic" role="button" data-slide="next">
					<i class="fa fa-chevron-right" style="font-size: 40px !important;"></i>
				  </a>
			</div>
		</div>
	</div>
</div>

 -->



<section id="columns" class="columns-container">
  <div style="width: 100%; padding-top: 20px; padding-bottom: 20px;">
   <p class="ourteam-big-title" style="font-size: 36px !important; color: #303030 !important; text-align: center; margin-top: 20px;">TELL ME MORE! PLEASE CONTACT ME</p><br/>
   <p id="contact" style="text-align: center;">
   <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({ 
    css: '',
    cssClass: 'form-inline hide-label',
    portalId: '537527',
    formId: '74848198-ef93-4d86-b7bf-196eebcc48c5'
  });
</script>
   </p>
  </div>
  <br/><br/><br/>
</section>