<section id="columns" class="columns-container">
       	 	 <div class="container product-section" style="padding-bottom:30px;">
           <h1 class="page-title">Affiliates</h1>
       	 	 <div class="container product-section">
     	<div class="affiliates-image" style="width: 35%;">
          <img src="{{ 'affiliates-img.png' | asset_url }}" class="affimage"/>
        </div>
     	<div class="affiliates-text" style="width: 65%;">
       	  <p class="afftext">If you’ve been sharing your dog with the world on social media & blogs<br/>
without making money, then we have an awesome offer for you.<br/>
Become a PrideBites PAWtner and get paid to promote your pup,<br/>
our brand, and grow your followers along the way!</p>         
     	</div>  
     </div>
               <br/>
               <div style="width: 100%; text-align: center;">
                 <a href="https://pridebites.wufoo.com/forms/q1inr6h70vneews/"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 15px !important;"><span >GET STARTED TODAY</span></button></a>
               </div>
  </div>
  
    <div id="newsletter_block" class="block footer-block inline" style="background-color: #ffffff; padding-top: 30px; padding-bottom: 30px;">
    <div>
      <table class="affiliates-features-box">
      <tr>
      <td>
        <i class="fa fa-check-circle-o" style="font-size: 80px; color: #db3340; padding-bottom:10px;"></i>
        <p>20% off discount code<br/>for your followers</p>
      </td>
      <td>
		<i class="fa fa-check-circle-o" style="font-size: 80px; color: #db3340; padding-bottom:10px;"></i>
        <p>Earn 10% commission<br/>of every refferal you generate</p>
      </td>
      <td>
		<i class="fa fa-check-circle-o" style="font-size: 80px; color: #db3340; padding-bottom:10px;"></i>        
        <p>Earn free products</p>
      </td>
        </tr>
<tr>
      <td>
		<i class="fa fa-check-circle-o" style="font-size: 80px; color: #db3340; padding-bottom:10px;"></i>        
        <p>Free give-away's<br/>for your followers</p>
      </td> 
        <td>
		<i class="fa fa-check-circle-o" style="font-size: 80px; color: #db3340; padding-bottom:10px;"></i>          
        <p>Features on PrideBites<br/>social media / website</p>
      </td> 
        <td>
		<i class="fa fa-check-circle-o" style="font-size: 80px; color: #db3340; padding-bottom:10px;"></i>          
          <p>And of course,<br/>it's all <span style="font-weight: 900;">FREE!</span></p>
      </td> 
    </tr>
    </table>
    </div>
</div>
    <p style="font-size: 18px; text-align: center; padding-left:10px; padding-right:10px;">Thanks for all your support. We look forward to having you on board!<br/>
Click below to become a PAWtner.</p><br/>
  <div style="text-align: center; padding-bottom: 30px;">
  <a href="https://pridebites.wufoo.com/forms/q1inr6h70vneews/"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 15px !important;"><span >GET STARTED TODAY</span></button></a>
  </div>
  <div style="text-align: center; padding-bottom: 30px;"><img src="{{ 'pawtner.png' | asset_url }}" style="width: 100%; max-width: 650px;"></div>
</section>