{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
	<div class="container">
		<div class="row">
			<section id="center_column" class="col-sm-12 col-md-12">
				<div class="rte">
				<div style="width: 100%; text-align: center;">
<div>
<p style="font-family: 'Francois One', sans-serif; font-size: 50px; line-height: 1; color: #222222;">YOUR DOG HAS NO IDEA<br />WHAT WE'RE PLANNING.</p>
<p>Our new products are almost here!<br /> Be the first to see them by entering your email here for exclusive offers.</p>
</div>

                  
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({ 
    css: '',
    cssClass: 'form-inline hide-label',
    portalId: '537527',
    formId: '8ece3b4c-5682-408a-a9a8-f762c844358b'
  });
</script>

                 
<br /><br /><img src="{{ 'pridebites-products.png' | asset_url }}" style="width: 100%; max-width: 800px;" /></div>
<br /><br />	
				</div>
			</section>
		</div>
	</div>
</section>