<div class="container product-section" style="margin-top: 50px;">
<table style="text-align: center; overflow: hidden;">
<tr>
  <td class="product-section-top-four"><i class="fa fa-paint-brush" style="font-size: 60px; color: #db3340;"></i><br/><br/>
    <h4>DESIGN</h4>
    <p>Our products are designed with you in mind! We want you to have the ability to create your own pet products. We will be updating our designs and patterns frequently to allow for maximum personalization. The possibilities are endless!</p>
  </td>
  <td class="product-section-top-four"><i class="fa fa-star" style="font-size: 60px; color: #db3340;"></i><br/><br/>
    <h4>QUALITY</h4>
    <p>We make incredibly high quality, long lasting products. We put them through extensive testing with our own dogs before we give them the PrideBites™ stamp of approval.</p>
  </td>
  <td class="product-section-top-four"><i class="fa fa-dot-circle-o" style="font-size: 60px; color: #db3340;"></i><br/><br/>
    <h4>MATERIAL</h4>
    <p>Only the best materials go into PrideBites™ pet products! Inside and out they’re ultra-soft, designed tough, and are all machine washable and easy to clean.</p>
  </td>
  <td class="product-section-top-four"><i class="fa fa-shield" style="font-size: 60px; color: #db3340;"></i><br/><br/>
    <h4>SAFETY</h4>
    <p>All of our pet products go through rigorous safety testing and are created with your pets in mind. They’re non toxic, vet approved, and pet-safe.</p>
  </td>
  </tr>
  </table>
</div>

<section id="columns" class="columns-container">
  <div id="newsletter_block" class="block footer-block inline" style="background-color: #ffffff; padding-bottom: 30px;">
	 <div class="container product-section">
     	<div class="product-section-img">
          <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-bed.png?10486064243279063057" class="aboutour-image" />
        </div>
     	<div class="product-section-txt">
       	  <p class="aboutour-txt">Our jumbo stuffed beds are so comfortable you'll want to nap on them yourself. There are so many design possibilites to choose from, it's easy to find one that matches your style and your dog's personality. You can even personalize the bed with your dogs name and image (Hand drawn by our amazing artists).<br/>Your dog will sleep like a baby!</p><br/>
          <a href="http://pridebites.com/collections/beds-all-products"><button class="add_to_cart_detail ajax_addtocart btn"><span>CHOOSE YOUR DESIGN</span></button></a>
     	</div>  
     </div>
    <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px;">Personalized with your<br/>dog's name and image</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px;">Tufted plush<br/>cotton stuffing</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px;">Ultra soft durable<br/>fleece cover</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:16px;">Machine washable</p>
      </td>      
    </tr>
    </table>
    </div>
</div>
  
<div class="container product-section" style="padding-bottom: 30px;">
	<div class="product-section-txt">
		<p class="aboutour-txt">Our ultra soft blanket will be your dog's new best friend. It's so lightweight you'll both want to take it everywhere. Choose from a variety of colors and patterns for the perfect combination. You can even personalize the blanket with your dogs name and image (Hand drawn by our amazing artists).<br />Nap time just got cuter!</p><br/>
  		<a href="http://pridebites.com/collections/blankets-all-products"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
  	</div>
  	<div class="product-section-img"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-blanket.png?10486064243279063057" class="aboutour-image" /></div>
      <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px; text-align:center !important;">Personalized with your<br/>dog's name and image</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px; text-align:center !important;">Breathable ultra<br/>soft fleece</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px; text-align:center !important;">One size<br/>fits all</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:16px; text-align:center !important;">Machine washable</p>
      </td>      
    </tr>
    </table>
    </div>
</div>

  <div id="newsletter_block" class="block footer-block inline" style="background-color: #ffffff; padding-bottom: 30px;">
	 <div class="container product-section">
     	<div class="product-section-img">
          <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-collar.png?10973477910596544840" class="aboutour-image" />
        </div>
     	<div class="product-section-txt">
       	  <p class="aboutour-txt">Every dog has their own personal style, and our collar is made to fit YOUR dog's fashion sense. It's both durable and incredibly comfortable. There are so many design possibilities to choose from your dog is sure to look great! You can also personalize the collar with your dogs name and phone number. Youll both love it!</p><br/>
          <a href="http://pridebites.com/collections/collars-all-products"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
     	</div>  
     </div>
    <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px;">Personalized with<br/>your dog's name</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px;">Adjustable with heavy duty<br/>stitching and thread</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px;">Strong and secure<br/>double locking buckle</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:9px;">D-Ring made of<br/>strong metal</p>
      </td>      
    </tr>
    </table>
    </div>
</div>
  
<div class="container product-section" style="padding-bottom: 30px;">
	<div class="product-section-txt">
		<p class="aboutour-txt">Your dog will be the envy of the park when they stroll in with their new leash. It's durable, stylish and comfortable for both you and your dog. With all of the design possibilities to choose from, your leash is sure to be one-of-a-kind. You can also personalize the leash with your dogs name! Show off your design on every walk.</p><br/>
  		<a href="http://pridebites.com/collections/leashes-all-products"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
  	</div>
  	<div class="product-section-img"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-leash.png?6039709018809989729" class="aboutour-image" /></div>
      <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px; text-align:center !important;">Personalized with<br/>your dog's name</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px; text-align:center !important;">Padded handle<br/>for comfort</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px; text-align:center !important;">Easy opening,<br/>strong and secure clasp</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:9px; text-align:center !important;">Heavy duty<br/>stitching and thread</p>
      </td>      
    </tr>
    </table>
    </div>
</div>
  
  <div id="newsletter_block" class="block footer-block inline" style="background-color: #ffffff; padding-bottom: 30px;">
	 <div class="container product-section">
     	<div class="product-section-img">
          <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-placemat.png?9066848030380980883" class="aboutour-image" />
        </div>
     	<div class="product-section-txt">
       	  <p class="aboutour-txt">Our placemat is the essential mealtime accessory. It looks great and keeps your floors safe from spills. Choose from a variety of colors and patterns for the perfect combination. You can even personalize the placemat with your dogs name and image (hand drawn by our amazing artists). Mealtime just got cuter!</p><br/>
          <a href="http://pridebites.com/collections/placemats-all-products"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
     	</div>  
     </div>
    <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px;">Personalized with your<br/>dog's name and image</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px;">Absorbent<br/>fleece top</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px;">Non-slip bottom prevents<br/>sliding while in use</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:16px;">Machine washable</p>
      </td>      
    </tr>
    </table>
    </div>
</div>  
  
<div class="container product-section" style="padding-bottom: 30px;">
	<div class="product-section-txt">
		<p class="aboutour-txt">Our hoodie is the perfect combination of fashion and function. Your dog won't want to take it off! There are so many design possibilities to choose from it's easy to match your dog's personality. You can also personalize the hoodie with your dogs name. Staying warm never looked this cool!</p><br/>
  		<a href="http://pridebites.com/collections/types?q=Hoodie"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
  	</div>
  	<div class="product-section-img"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-hoodie.png?18331093204006563481" class="aboutour-image" /></div>
      <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px; text-align:center !important;">Personalized with your<br/>dog's name</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px; text-align:center !important;">Cotton and polyester fabric<br/>blend for softest feel</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px; text-align:center !important;">Great for indoor<br/>and outdoor use</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:16px; text-align:center !important;">Machine washable</p>
      </td>      
    </tr>
    </table>
    </div>
</div>
  
  <div id="newsletter_block" class="block footer-block inline" style="background-color: #ffffff; padding-bottom: 30px;">
	 <div class="container product-section">
     	<div class="product-section-img">
          <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-coat.png?3946666393707014956" class="aboutour-image" />
        </div>
     	<div class="product-section-txt">
       	  <p class="aboutour-txt">Our fashionable coat will keep your dog comfy and warm while also increasing its cuteness level. There are so many cute design possibilities to choose from, you are sure to find one to match your dog's style. You can also personalize the coat with your dogs name. Staying warm never looked this cool.</p><br/>
          <a href="http://pridebites.com/collections/types?q=Coat"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
     	</div>  
     </div>
    <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px;">Personalized with<br/>your dog's name</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px;">Insulated with<br/>warm fleece lining</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px;">Easy to take<br/>On / Off</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:16px;">Machine washable</p>
      </td>      
    </tr>
    </table>
    </div>
</div>   
  
  <div class="container product-section" style="padding-bottom: 30px;">
	<div class="product-section-txt">
		<p class="aboutour-txt">Our award winning foam stuffed PrideBites are fun, durable, non-toxic, pet-safe and vet approved. The Durabite™ fleece outer shell is incredibly strong, soft, and provides dog’s an experience like no other toy can.</p><br/>
  		<a href="http://pridebites.com/collections/toys-all-products"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
  	</div>
  	<div class="product-section-img"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutourtoys.png?4636190395302936253" class="aboutour-image" /></div>
        <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px;">Personalized with your<br/>dog's name and image</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px;">Float<br/>and squeak</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px;">55 lbs<br/>of pull pressure</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:16px;">Machine washable</p>
      </td>      
    </tr>
    </table>
    </div>
</div>
  
    <div id="newsletter_block" class="block footer-block inline" style="background-color: #ffffff; padding-bottom: 30px;">
	 <div class="container product-section">
     	<div class="product-section-img">
          <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-basket.png?5684646455687157634" class="aboutour-image" />
        </div>
     	<div class="product-section-txt">
       	  <p class="aboutour-txt">Store your dog’s toys in style with our amazing toy baskets. They’re made to look good in YOUR home. There are so many design possibilities to choose from, so it’s easy to find one that matches your style and your dog’s personality. You can even personalize the box with their name and image as well (Hand drawn by our amazing design team). Now you just have to train your dog to not scatter their toys all over the floor :)</p><br/>
          <a href="http://pridebites.com/collections/types?q=Toy%20Basket"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
     	</div>  
     </div>
    <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px;">Comes in 2<br/>different sizess</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px;">Folds completely flat for<br/>easy travel and storage</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px;">Removable<br/>bottom plate</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:9px;">Personalized with<br/>your dog's name</p>
      </td>      
    </tr>
    </table>
    </div>
</div>   
  
    <div class="container product-section" style="padding-bottom: 30px;">
	<div class="product-section-txt">
		<p class="aboutour-txt">The PrideBites Crate Bed is sure to please both you and your dog. The comfortable jumbo stuffed outer support walls will help your dog get comfortable. They’re ultra versatile and lightweight. They’re great for travel, in the home, and they fit perfectly in your crate or kennel. There are so many design possibilities to choose from, so it’s easy to find one that matches your style and your dog’s personality. You can even personalize the bed with their name and image as well.</p><br/>
  		<a href="http://pridebites.com/collections/types?q=Crate%20Bed"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
  	</div>
  	<div class="product-section-img"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-crate.png?16312112520295067237" class="aboutour-image" /></div>
        <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
      <td class="features-box-features-1">
        <p style="margin-top:9px;">Personalized with your<br/>dog's name and image</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px;">Non-slip<br/>rubber bottom</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px;">Durable ultra-soft<br/>fleece outer lining</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:16px;">Machine washable</p>
      </td>         
    </tr>
    </table>
    </div>
</div>
  
    <div id="newsletter_block" class="block footer-block inline" style="background-color: #ffffff; padding-bottom: 30px;">
	 <div class="container product-section">
     	<div class="product-section-img">
          <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/aboutour-sherpa.png?7670504704790088227" class="aboutour-image" />
        </div>
     	<div class="product-section-txt">
       	  <p class="aboutour-txt">Keep your dog cozy and warm with our Sherpa / Fleece blanket. The combo of ultra soft fleece and fuzzy sherpa cotton will give your dog the best of both worlds. They’re stylish, elegant, and make the perfect gift this holiday season. You can personalize the blanket with your dog’s name and photo.</p><br/>
          <a href="http://pridebites.com/collections/types?q=Sherpa%20Blanket"><button class="add_to_cart_detail ajax_addtocart btn"><span >CHOOSE YOUR DESIGN</span></button></a>
     	</div>  
     </div>
    <div class="product-section-features-box">
      <table style="width:100%;">
      <tr>
     <td class="features-box-features-1">
        <p style="margin-top:9px;">Personalized with your<br/>dog's name and image</p>
      </td>
      <td class="features-box-features-2">
        <p style="margin-top:9px;">Breathable<br>ultra soft fleece</p>
      </td>
      <td class="features-box-features-3">
        <p style="margin-top:9px;">Super fuzzy<br/>sherpa fleece</p>
      </td>
      <td class="features-box-features-4">
        <p style="margin-top:16px;">Machine washable</p>
      </td>
    </tr>
    </table>
    </div>
</div>   
  
</section>