<section id="columns" class="columns-container">
       	 	 <div class="container product-section" style="padding-bottom:10px;">
           <h1 class="page-title" style="text-align: center;">Wholesale</h1>
               
          	 	 <div class="container product-section">
     	<div class="wholesale-text">
       	  <p style="font-size: 16px; padding-top: 25px;">At PrideBites, we allow you to design and buy your own pet product line with low minimums.<br/><br/>We'd love to work with you!<br/>
            <br/>Please fill out the form on this page and we'll get back to you within 2 business days.<br/><br/>
            If you're interested in learning more about our pricing and minimum order quantities, please feel free to <a href="https://cdn.shopify.com/s/files/1/0193/6115/files/PrideBites-Custom-Catalog-2015.pdf?3698216804676791340"><strong>click here</strong></a> to download our catalog!<br/><br/>
         	     For any further questions, please contact our Customer Service at<br/><br/>
            <span style="color: #DB3340; margin-right: 10px;"><i class="fa fa-phone"></i></span>(512) 339-0881<br/>
            <span style="color: #DB3340; margin-right: 10px;"><i class="fa fa-at"></i></span><a href="customerservice@pridebites.com">customerservice@pridebites.com</a>.<br/><br/>We look forward to working with you!</p>         
          <br/><br/><img src="{{ 'ups.jpg' | asset_url }}" width="100%">
     	</div>  
       <div class="wholesale-box">
          <table style="width:100%; text-align: left;">
            <tr>
             <td>
               <div id="wufoo-mebordo15c9mia">
Fill out my <a href="https://pridebites.wufoo.com/forms/mebordo15c9mia">online form</a>.
</div>
<script type="text/javascript">var mebordo15c9mia;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'pridebites',
'formHash':'mebordo15c9mia',
'autoResize':true,
'height':'1057',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { mebordo15c9mia = new WufooForm();mebordo15c9mia.initialize(options);mebordo15c9mia.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

              </td>
            </tr>            
         </table>
        </div>
     </div>            
               

               <br/>
               
  </div>

<!--
    <div id="newsletter_block" class="block footer-block inline" style="background-color: #ffffff; padding-top: 30px; padding-bottom: 30px;">
    <div>

  
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({ 
    css: '',
    portalId: '537527',
    formId: 'c6cc5e4b-4bd6-4ebe-82ca-2593a038b35a'
  });
</script>



    </div>
</div>
-->
  
</section>