           <h1 class="page-title" style="font-size: 18px !important; font-weight: 300 !important; text-align: center;">Wholesale PrideBites Pet Products</h1>
          <p class="ourteam-big-title" style="color: #303030 !important; text-align: center;">GREAT PRODUCTS<br/>DESIGNED FOR YOU, BY YOU!</p><br/>
<div class="container product-section" style="margin-top: 20px; padding-bottom: 20px;">
<table style="text-align: center; overflow: hidden; width: 100%;">
<tr>
  <td class="product-section-top-four"><i class="fa fa-paint-brush" style="font-size: 60px; color: #db3340;"></i><br/><br/>
    <h4>LOW MINIMUMS</h4>
  </td>
  <td class="product-section-top-four"><i class="fa fa-star" style="font-size: 60px; color: #db3340;"></i><br/><br/>
    <h4>HIGH QUALITY</h4>
  </td>
  <td class="product-section-top-four"><i class="fa fa-dot-circle-o" style="font-size: 60px; color: #db3340;"></i><br/><br/>
    <h4>LOW COST</h4>
  </td>
  <td class="product-section-top-four"><i class="fa fa-shield" style="font-size: 60px; color: #db3340;"></i><br/><br/>
    <h4>QUICK TURNAROUND</h4>
  </td>
  </tr>
  </table>
</div>

<section id="columns" class="columns-container">
 
  <div style="width: 100%; background-color: white; padding-top: 20px; padding-bottom: 20px;">
         <p class="ourteam-big-title" style="font-size: 36px !important; color: #303030 !important; text-align: center;">WHY SHOULD I BE INTERESTED<br/>IN CUSTOM PRODUCTS?</p><br/>
  	 <div class="container product-section">
     	<div class="product-section-img">
          <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/whlsl1.jpg?5516733503384064434" class="aboutour-image" />
        </div>
     	<div class="wholesale-section-info">
          <p style="font-size: 32px; font-weight: 700; text-align: center; color: #303030;">PROMOTE<br/>YOUR BRAND</p>
       	  <p class="wholesale-section-text">Creating branded products for your fans, clients, and customers will increase awareness, retention, and loyalty.</p><br/>
          <p style="text-align: center;"><a href="http://www.pridebites.com"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
     	</div>  
     </div>
    
<div class="container product-section" style="padding-bottom: 30px;">
	<div class="wholesale-section-info">
        <p style="font-size: 32px; font-weight: 700; text-align: center; color: #303030;">SELL<br/>IN RETAIL</p>
		<p class="wholesale-section-text">Designing exclusive pet products for your customers will set you apart from the competition. From geographical landmarks, local favorites and trends, anything is possible!</p><br/>
        <p style="text-align: center;"><a href="http://www.pridebites.com"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
  	</div>
  	<div class="product-section-img"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/whlsl1.jpg?5516733503384064434" class="aboutour-image" /></div>
</div>
    
    <div class="container product-section">
     	<div class="product-section-img">
          <img src="https://cdn.shopify.com/s/files/1/0193/6115/files/whlsl1.jpg?5516733503384064434" class="aboutour-image" />
        </div>
     	<div class="wholesale-section-info">
          <p style="font-size: 32px; font-weight: 700; text-align: center; color: #303030;">PROMOTE<br/>YOUR SERVICE</p>
       	  <p class="wholesale-section-text">Having branded merchandise is a great way to connect with your customer. They’re great for incentive / loyalty programs, holiday gifts, promotional products, and more!</p><br/>
          <p style="text-align: center;"><a href="http://www.pridebites.com"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
     	</div>  
     </div>
    
<div class="container product-section" style="padding-bottom: 30px;">
	<div class="wholesale-section-info">
        <p style="font-size: 32px; font-weight: 700; text-align: center; color: #303030;">PERFECT<br/>FOR EVENTS</p>
		<p class="wholesale-section-text">Our custom pet products make every event one-of-a-kind. Create awesome branded merchandise for gift bags, giveaways, fundraising, and more!</p><br/>
        <p style="text-align: center;"><a href="http://www.pridebites.com"><button class="add_to_cart_detail ajax_addtocart btn" style="font-size: 18px !important; padding: 10px 20px !important;"><span>LEARN MORE</span></button></a></p>
  	</div>
  	<div class="product-section-img"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/scene-event.jpg?1480667412277956181" class="aboutour-image" /></div>
</div>
    
  </div>

 <div style="width: 100%; padding-top: 20px; padding-bottom: 20px;">
   <p class="ourteam-big-title" style="font-size: 36px !important; color: #303030 !important; text-align: center;">TELL ME MORE! PLEASE CONTACT ME</p><br/>
   <p style="text-align: center;">
   <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({ 
    css: '',
    cssClass: 'form-inline hide-label',
    portalId: '537527',
    formId: '74848198-ef93-4d86-b7bf-196eebcc48c5'
  });
</script>
   </p>
  </div>
  <br/><br/><br/>
</section>