<!--<form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="form-inline">
  <div class="form-group">
    <label class="control-label">JOIN OUR CORGI CLUB & RECIEVE $5 OFF!</label>
  	<input type="email" value="" placeholder="Email Address" name="EMAIL" id="mail" class="newsletter-input form-control" aria-label="Email Address">
  </div>
  <input type="submit" class="button_mini btn btn-outline" name="subscribe" id="subscribe" value="SEND MY COUPON!">
</form>-->

<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({ 
    css: '',
    cssClass: 'form-inline',
    portalId: '537527',
    formId: '4bff20d5-3863-442b-b1a9-3666734b0ad7'
  });
</script>