<div class="blockeasyas" style="width: 100%; overflow: hidden; color: #303030; font-size: 18px; font-weight: 400; clear:both;">
  <div class="front-easyas-left">
    <a href="http://pridebites.com/collections/top-trending-all-products"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/pickit-general.png?1591327301846957591" width="100%" style="max-width: 300px;"></a>
    <h3 style="font-weight: 900;">Pick It</h3>
    <p>Choose From Our Fun Premade Designs,<br>Or Create One From Scratch!</p>
  </div>
  <div class="front-easyas-center">
    <a href="http://pridebites.com/collections/top-trending-all-products"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/personit-min.png?1295685420593439602" width="100%" style="max-width: 300px;"></a>
    <h3 style="font-weight: 900;">Personalize It</h3>
    <p>Add Your Pooch's<br>Name And Image</p>
  </div>
  <div class="front-easyas-right">
    <a href="http://pridebites.com/apps/stream"><img src="https://cdn.shopify.com/s/files/1/0193/6115/files/poochit-min.png?1295685420593439602" width="100%" style="max-width: 300px;"></a>
    <h3 style="font-weight: 900;">Pooch It</h3>
    <p>Spoil Your Pup and<br/>Share It With The World</p>
  </div> 
</div>
  