@font-face {
    font-family: 'Museo';
    src: url('../fonts/museo900-regular.otf');
    font-weight:normal;
    font-style:normal;
}

/*LAYOUT STYLES*/
html, body {
    height: 100%;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
}
.container-fluid {
    padding:0px;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*[class*="col-"] {
    float: left;
    display: inline-block;
    vertical-align: top;
}*/

label {
    display:block;
    text-align:center;
}
h1 {
    margin-top: 20px;
    font-weight:bold;
    font-size:35px;
    font-size:2.188rem;
    text-transform: uppercase;
}
textarea:focus, input:focus{
    outline: 0;
}
*:focus {
    outline: 0;
}
input[type=text],
select
{
    height:34px;
}

.largeText {
    font-size:35px;
    font-size:2.188rem
}

#mainContainer{
    width:100%;
}

.head {
    padding:5px;
    padding-right:30px;
    text-align:center;
    background-color:#9c2220;
    color:white;
    font-weight: 600;
    font-size: 0.925em;
}
.cart-icon, .cart-text, .cart-count-holder{
    display:inline;
}
.cart-icon{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.shipping-message{
    display: inline !important;
}
header .cartlink {
    position:absolute;
    right:20px;
    color:white;
}
header .logo {
    position:absolute;
    margin:20px;
    z-index:999;
    }

.disclaimer {
    color: #999fae;
    font-size: 10px;
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    text-align: center;
}


/*--------------*/
/*Product Info  */
/*--------------*/
.product-info {
    margin-top: 90px;
    padding-left:15px;
}

.product-price {
    font-weight:bold;
    margin-bottom: 0px;
}
.product-description {
    font-size:14px;
    font-size:0.875rem;
    max-width: 280px;
    border-top: 1px solid #d0d2d3;
    border-bottom: 1px solid #d0d2d3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.siteInfo {
    /*position:absolute;
    bottom:50px;*/
}

.product-price-additions {
    display:inline-block;
    margin-top: -20px;
    margin-bottom: 20px;

    font-size:35px;
    font-size:2.188rem
}
.product-price-additions .total {
margin-left: 2rem;
    }
.product-price-additions hr {
    margin:0px;
}

/*--------------*/
/*Design Canvas */
/*--------------*/
#design-canvas {
    display:inline-block;
    position:relative;
}
#design-canvas .layer {
 position:absolute;
 top:0;
 left:0;
}
#design-canvas { width:85%;}/*use this value to change canvas size*/
#design-canvas img{ width: 100%; }/*Should always be 100%*/

#view-container { text-align: center; color:#bfbfbf; }
.viewSelection { cursor: pointer;}
.viewSelection.active {
    opacity:.5;
}

/*--------------*/
/*    Catalog   */
/*--------------*/
#btnConfirmBack {
    width: 75%;
    color: #979897;
    cursor:pointer;
    display:block;
    padding-top: 20px;
}

.catalog .title {
  color:#989896;
  font-size: 48px;
  font-size: 3rem;
}
.catalog li {
  line-height:1.5em;
  float:left;
  display:inline;
  width:33.333%;
  cursor:pointer;
}
.catalog li:hover {
    opacity: .8;
    background-color:red;
    z-index:999;
    }
.catalog li img {
  width: 100%;
  height: 100%;
    }

.catalog #btnBack {
    color:#ccc;
    font-size: 40px;
    cursor:pointer;
}
.catalog #btnBack:hover {
    color:#555;
}

/*--------------------*/
/*    Control Panel   */
/*--------------------*/
#control-container {
    max-width:360px;    
    position:absolute;
    height: 100%;
    right:0;
    /* Firefox */
    width: -moz-calc(100% - 15px);
    /* WebKit */
    width: -webkit-calc(100% - 15px);
    /* Opera */
    width: -o-calc(100% - 15px);
    /* Standard */
    width: calc(100% - 15px);
}

.panel-group {
 margin-bottom: 0px; 
 height:100%;
}
.panel-group .panel{
    border-radius:0px;
}
.panel-group .panel:last-child{
    border-bottom: 1px solid #d0d2d3;
}
.panel-group .panel+.panel {
margin-top: 0px;
}
.panel-body{
    overflow-y: auto;
    padding: 0px;
}
.panel-heading {
    padding: 15px 10px;
    border:none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    cursor:pointer;
}
.customization-step > .panel-heading {
    border-bottom: 5px solid #9e9e9e!important;
}
.customization-step > .panel-heading:hover { background-color: #1C608F!important;}
.customization-step > .panel-heading.active { border-bottom: 5px solid #1C608F!important;}
.customization-step > .panel-heading.active:hover { background-color: #1e6faf!important;}

.panel-title{
    font-weight: bold;
    text-align:center;
    position:relative;
}
.panel-title .icon {
  position: absolute;
  left: 10px;
  font-size:24px;
  top:-2px;
}

#step-complete{
    height: 160px;
    border-left: 1px solid #d0d2d3;
    border-right: 1px solid #d0d2d3;
    border-top: 1px solid #d0d2d3;
}

.groupedColorPicker > .panel-group > .panel > .panel-heading{
    background-color: #f9f9f9 !important;
}

.centered{
    font-size:.65em; 
    text-align:center;
}

.imageUpload{
    width:100%;
    height: 50px;
}

.uploadSuccess .status{
    height: 50px; 
    width: 12%; 
    display: inline-block; 
    vertical-align: top; 
    text-align: center; 
    color:white; 
}
.uploadSuccess .ok
{
    margin-right: 1%;
    background-color: green; 
}
.uploadSuccess .remove
{
    margin-left: 1%;
    background-color: #9c2220; 
    cursor:pointer;
}
.uploadSuccess .remove:hover {
    background-color:red;
}

.perfect {
    margin: 15px 0 -10px 0;
    text-align:center;
}

.images {
    font-size:.65em; 
    text-align:center;
    margin-top: 10px;
}

.image {
    font-size:.65em; 
    text-align:center;
    margin-top: -10px;
}

.photo {
    text-align:center;
}
/*#step-personalize .panel-heading .panel-title .icon:before { content: "\f040" }

#step-styles .panel-heading .panel-title .icon:before { content: "\f1a5" }

#step-product .panel-heading .panel-title .icon:before { content: "\f1b0"; }

#step-complete .panel-heading .panel-title .icon:before { content: "\f07a" }*/


.p-icon { float: left; margin-top: -5px }

.nav-tabs {
border-bottom: none;
}
.nav-tabs>li>a{
    border-radius: 0px;
    /*border: 1px solid #d0d2d3;
    border-left-width: 0px;*/
    border:none!important;
    padding: 7px;
}
.nav-tabs > li > a:hover { background-color: #1c608f; color:white;}
.nav-tabs > li a {
    background-color:#f2f2f2;
    text-align: center;
    color:black;
    margin:0px;
}
.nav-tabs > li.active a:hover,
.nav-tabs > li.active a
{
    background-color:#1e6faf!important;
    border-color: #1c608f!important;
    color:#fff!important;
}
.nav-tabs > li.active .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 10px solid #1e6faf;
    margin-left:auto;
    margin-right:auto;
}
.singleAttribute-content,
.tab-content {
    padding: 0 20px;
    padding: 0 1.25rem;
}

#stepAccordian #btnSave,
#stepAccordian .nextAttribute
{
    margin-top: 20px;
    margin-bottom: 20px;
    width:80%;
}

/* use btn-icon for generic button with styling */
.btn-icon, #btnSave, .fav-cart-btn{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    border-radius: 0;
    height: 50px;
    padding: 0px;
    padding-top: 0px;
}

.btn-icon, #btnSave, .fav-cart-btn {
    background: #3e985d;
    border-bottom: 4px solid #36844e;
    margin:0;
    padding:0;
}

#step-complete #btnSave { 
    margin: 20px auto 20px auto;
}



.btn-icon, #btnSave:hover, .fav-cart-btn:hover {
    background: #36844e;
    border-bottom: 4px solid #1C4428;
}


.btn-icon, #btnSave:hover i, .fav-cart-btn:hover i {
    background-color: #1C4428;
}



.btn-icon, #btnSave span, .fav-cart-btn span {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    margin-top: 13px;
}
.btn-icon, #btnSave i, .fav-cart-btn i {
    width: 50px;
    float: left;
    height: 47px;
    padding-top: 13px;
    color: white;
    font-size: 1.5em;
}


.btn-icon, #btnSave i, .save-fav i, .fav-cart-btn i { background-color: #36844e; }


.btn-icon, .save-fav{border: none; margin-left: 0 }

.promotionButton{
    width: 60%;
    width: 150%;
    margin-top:20%;
    border-radius: 0;
    background: #c1c1c1;
    border-bottom: 3px solid #9e9e9e;
    height: 40px;
    padding: 0px;
    padding-top: 0px;

}
.promotionButton:hover{
    background: #9e9e9e;
    border-bottom: 3px solid #5E5E5E;
}
.promotionButton:hover i{
    background-color: #5E5E5E;
}
.promotionButton i{
    background-color: #9e9e9e;
    width: 50px;
    float: left;
    height: 50px;
    padding-top: 8px;
    color: white;
    font-size: 1.5em;
}
.promotionButton span{
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-top: 9px;
}

.productConfigurations {
    position:fixed;
    bottom:0px;
    left: -moz-calc(50% - 150px);/* Firefox */
    left: -webkit-calc(50% - 150px);    /* WebKit */
    left: -o-calc(50% - 150px);    /* Opera */
    left: calc(50% - 150px);    /* Standard */
    display:inline-block;
    width:300px;
    height:70px;
}

.btnRandom{
    width: 120px;
    margin-right: 2%;
    display:inline-block;
    border-radius: 0;
    background: #fddb00;
    border-bottom: 2px solid #e5be00;
    height: 40px;
    padding: 0px;
    padding-top: 0px;
}
.btnRandom.loading { background-color:red;}

.btnRandom:hover{
    background: #e5be00;
    border-bottom: 3px solid #A58900;
}
.btnRandom:hover i{
    background-color: #A58900;
}
.btnRandom i{
    background-color: #e5be00;
    width: 40px;
    float: left;
    height: 40px;
    padding-top: 9px;
    color: #333;
    font-size: 1.4em;
}
.btnRandom span{
    font-size: 12px;
    display: inline-block;
    margin-top: 9px;
    color: #333;
    font-weight:700;
}
.randomBox {display:inline;}
.randomBox span{
    font-size: 0.77em;
}

.randomBox img{
    /*margin-left: 133px;
    margin-top: -50px;*/
    position: absolute;
    top: 20px;
    margin-left: 6px;
    width: 15px;
}

#groove-feedback.left {
    left: 180px!important;
}
#element_size-chart{ cursor:pointer; display:none;}



#form1 { padding: 20px; }
.save-design-modal input[type=text], .save-design-modal input[type=email] { width: 100%; height: 30px !important; }

.btn-icon,
.my-designs,
.save-fav,
.btnMoreInfo,
.btnExample{
    width: 155px;
    margin-right: 2%;
    display:inline-block;
    border-radius: 0;
    background: #c1c1c1;
    border-bottom: 3px solid #9e9e9e;
    height: 40px;
    padding: 0px;
    padding-top: 0px;
    margin-top: 10px;
    /*position:fixed;
    bottom: 32px;*/
}
.btn-icon:hover,
.my-designs:hover,
.save-fav:hover,
.btnMoreInfo:hover,
.btnExample:hover{
    background: #9e9e9e;
    border-bottom: 3px solid #5E5E5E;
}
.btn-icon:hover i,
.my-designs:hover i,
.save-fav:hover i,
.btnMoreInfo:hover i,
.btnExample:hover i{
    background-color: #5E5E5E;
}
.btn-icon i,
.my-designs i,
.save-fav i,
.btnMoreInfo i,
.btnExample i{
    background-color: #9e9e9e;
    width: 40px;
    float: left;
    height: 37px;
    padding-top: 9px;
    color: white;
    font-size: 1.4em;
}
.btn-icon span,
.my-designs span,
.save-fav span,
.btnMoreInfo span,
.btnExample span{
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-top: 9px;
    font-weight:700;
}


.btnCatalog{
    width: 115px;
    margin-right: 2%;
    margin-top: 35px;
    display:inline-block;
    border-radius: 0;
    background: #9c2220;
    border-bottom: 2px solid #771d1d;
    height: 40px;
    padding: 0px;
    padding-top: 0px;
}
.btnCatalog:hover{
    background: #771d1d;
    border-bottom: 3px solid #370D0D;
}
.btnCatalog:hover i{
    background-color: #370D0D;
}
.btnCatalog i{
    background-color: #771d1d;
    width: 40px;
    float: left;
    height: 40px;
    padding-top: 9px;
    color: white;
    font-size: 1.4em;
}
.btnCatalog span{
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-top: 9px;
}

.delivery-notice {
    font-size: 12px;
    margin-top:10px;
    text-align:center;
    font-weight:bold;
}


/*--------------*/
/*CUSTOMIZATIONS*/
/*--------------*/
.popover-content { width: 270px;}
.colorPickerWrap { text-align: center; }
.groupedColorPicker .colorPickerWrap { padding-top: 2px; padding-bottom:5%;}
.groupedColorPicker .glyphicon { font-size: 16px; font-size: 1rem; margin-top: 10px;}
.groupedColorPicker .panel-heading { background-color: #eee!important; color:#999fae;}
.groupedColorPicker .panel-heading .panel-title {color: black;}
.groupedColorPicker .panel-heading.active { border-bottom: none;}
.groupedColorPicker .panel-primary > .panel-heading + .panel-collapse .panel-body { border-top:none;}
.colorPicker { display: inline;}
.colorPicker .option { }

.helperArea{
    display: inline-block; 
    margin: .5em; 
    margin-bottom: 0px;
    width:652px;
    height: 85px;
    text-align:left;
}
.helperArea .productHelpText { width:85%!important; min-height: 50px;}
.helperArea .helperContent { display:none;}
.helperArea .triangle-isosceles { margin-bottom: 0px;}
.helperArea .triangle-isosceles.left { background-color:#f2f2f2; border: 1px solid #bfbfbf;}
.helperArea .triangle-isosceles.left:after {border-color: transparent #f2f2f2;}

.arrow_box {
	position: relative;
    display:inline-block;
    font-size: 12px;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
    padding: 2% 2% 5% 5%;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(242, 242, 242, 0);
	border-right-color: #f2f2f2;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(191, 191, 191, 0);
	border-right-color: #bfbfbf;
	border-width: 11px;
	margin-top: -11px;
}

.colorPicker .optionWrap { 
    display:inline-block; 
    margin:1% 1%; 
    width:20%;
    color:#999fae;
    font-size:10px;
}
.subgroup input{
    margin: 20% 0%;
    width: 85%;
}
.subgroup {
    color: #999fae;
    font-size: 10px;
    width: 20%;
    position: relative;
    display: inline-block;
}

.subgroup a{
    display: inline-block;
    margin: 1% 4% 1% 4%;
    width: 100%;
}

.colorPicker-subGroup{
    padding-bottom:5%;
}

.colorPicker .optionBtn
 {
     display:inline-block;
     width:100%;
     height: 54px;
     height: 3.375rem;
     margin-top:5px;
 }
.colorPicker .optionBtn:hover,
.colorPicker .optionBtn.active {
border: 3px solid #1e6faf;
padding:2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
margin-top:0px;

}
.colorPicker .optionBtn:hover{
    border: 3px solid #ccc;
}


 .colorPicker .option {
    width:100%;
    height: 44px;
    height: 2.75rem;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
    margin-bottom: 6px;
                /*-webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                border: 1px solid #ccc;
                float: left;
                display: inline;
                margin: 0px;*/
}
 
.colorPicker-subOptions {
    display:none;
}



.customization-option {
    /*padding: 10px;
    padding: 0.625rem;*/
    cursor:pointer;
    border: 2px solid white;
}

.customization-option.active,
.customization-option.active:hover {
    border: 2px solid #1e6faf;
}
.customization-option:hover {
    border: 2px solid #ccc;
}

.popover-content .colorPickerWrap {
 padding:0px;
}


.priceTag { font-size: 24px; background-color: #555;}

.textEntry input {
    width:70%;
}
.textEntry button {
    width: 30%;
    margin-top: 0px;
    float:right;
}
/*.fieldCustomization {
    padding-bottom: 10px;
}*/
.fieldCustomization label { padding:10px; margin-bottom:0px;   }

/*-----------------------------------*/
/*     Specific Field Styles         */
/*-----------------------------------*/

#customization-size .customization-option { 
    /*padding: 4px; */
    padding-right:6px; 
    margin:4px;
}
#customization-font select,
#customization-textPlacement select
{
    width: 100%;
}
#customization-banner .customization-option
{
    /*display:inline-block; width:23%;*/
    float:left;
    width: 25%;
}



/*-------------------*/
/* Favorite Designs */
/*------------------*/

.favorites-wrap{ 
    margin: 100px 0 100px 0;
}
#favoriteButtonBack {
    position: absolute; 
    top: -15px;
    left: -8%;
    color: #979897;
    cursor: pointer;
    display: block;
    padding-top: 20px;
}
.favorites-add-to-cart{
    margin-left: -11px; 
    padding-left:0;
}
.fav-designs-container{
    margin-bottom: 10px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.fav-designs-container .fav-inner {
    padding: 20px;
    min-height: 250px;
}

.fav-box-header { border-bottom: 1px solid #333; padding: 10px 0 10px 0; background: #ebebeb; }

.fav-designs-container h3 {
    margin-top: 0;
}

.my-designs-header { font-family: 'Museo'; font-weight: normal; display: block; font-size: 3rem; margin-bottom: 45px; color: #28445e; }

.fav-tool { width: 32%; display: inline-block; position: relative; margin:0px;}
.fav-tool a { display: block; padding-top: 9px; padding-bottom: 9px; }
.fav-tool i { color: #fff; }
.fav-edit-container a {background: #9e9e9e; }
.fav-share-container a { background: #9e9e9e; }
.fav-remove-container a { background: #9c211f; }

.fav-designs-container ul { list-style: none; }
.fav-designs-container .fav-label { margin-top: 0; }

.fav-share-button{ 
    width: 100%;
    display: inline-block;
    padding: 2%;
    border-radius: 2px;
    color: white;
    text-align: left;
    padding-left: 35px;
    margin-bottom:15px;
    position:relative;  
}

.facebookShare { 
    background-color: #3b5997;
}

.facebookShare:before{
    position: absolute;
    font-family: FontAwesome;
    top: 8px;
    left: 6px;
    font-size: 22px;
    content: "\f09a";
}

.twitterShare { 
    background-color: #00aced;
}

.twitterShare:before{
    position: absolute;
    font-family: FontAwesome;
    top: 8px;
    left: 6px;
    font-size: 22px;
    content: "\f099";
}

.pinterestShare{
    background-color: #d6342f;
}

.pinterestShare:before{
    position: absolute;
    font-family: FontAwesome;
    top: 8px;
    left: 6px;
    font-size: 22px;
    content: "\f0d2";
}

.emailShare{
    background-color: #eeeeee;
    color: #474747;
}

.emailShare:before{
    position: absolute;
    font-family: FontAwesome;
    top: 8px;
    left: 6px;
    font-size: 19px;
    content: "\f0e0";
}
.share-modal input[type=text], .share-modal input[type=email] { width: 100%; padding: 5px; margin-bottom: 5px; }

.fav-helper-text { position: absolute; display:none; width: 100%; }
.favorites-breadcrumb {
    background: #9e9e9e;
    border-radius: 0;
    color: white;
}
.favorites-breadcrumb:hover{ 
     background: #ececec;
 }

/*-----------------------------------*/
/*     Responsive Override         */
/*-----------------------------------*/

/* Tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .logo img { width: 80%;}
    .helperArea{width: 100%;}
    .helperArea .productHelpText {
        width: 65%!important;
        min-height: 50px;
    }
    #btnSave span{
        font-size: 85%;
    }

    .randomBox {display:none;}

    #design-canvas {
        width: 90%;
        margin-left: 15%;
        margin-top: 10%;
    }   

    #view-container{
        margin-left: 5%;
    }

    #view-container img{
        width: 50%;
        margin-left: 7.5%;
    }

    #pridebite_lightbox{
        margin-left: 10% !important;
        margin-top: 5%;
    }
      #groove-feedback{
        display: none!important;
    }
}
/* Phone */
@media all and (max-width: 768px) {
    #btnConfirmBack {
        margin-bottom: 20px;
    }
    /*.productConfigurations {
        position: absolute;
        bottom: -85px;
    }*/

    #btnSave span {
        font-size: 95%;
    }

    .shipping-message {
        display: inline !important;
        font-size: 55%;
    }

    .head {
        text-align: left;
        word-wrap: none;
    }

    .cart-icon, .cart-text, .cart-count-holder {
        margin-right: 5%;
        display: inline;
    }

    .subgroup input {
        margin: 10% 1%;
        width: 100%;
    }

    .row {
        display: block;
    }

    #customization-Size {
        width: 75%;
        margin-left: 15%;
    }

    #view-container img {
        height: 60px !important;
        display: inline;
    }

    #design-canvas {
        width: 95%;
    }

    .product-info {
        text-align: center;
        margin-top: 0px;
    }


    #control-container {
        height: 100%;
        width: 100%;
        position: relative;
        max-width: 100%;
        margin-bottom: -45px;
        /*margin-top: 70px; Height of abs positioned random btn*/
    }

    #view-container {
        margin-bottom: 20px;
        margin-top: 0px;
    }

        #view-container img {
            width: 50%;
            display: inline;
        }

    header .logo {
        margin: 0;
        position: relative;
    }

    .product-info {
        margin-top: 5%;
        margin-bottom: 5%;
    }

        .product-info h1, .product-info .product-price {
            margin-top: 20px;
            display: inline;
            font-size: 1.5em;
            margin-left: 5%;
        }

    .product-info .infoButtons { 
        text-align:center;
    }
    .product-info .infoButtons .btnMoreInfo,
    .product-info .infoButtons .btnExample {
        display: inline-block;
    }

    .panel-body{
        height: auto !important;
        overflow-y: initial;
        padding-bottom: 5%;
    }
    .promotionButton, #pridebite_lightbox,  #groove-feedback, .helperArea, .product-description, .randomBox {
        display: none;
    }

    #groove-feedback{
        display: none!important;
    }

    #favoriteButtonBack{
        position: relative;
        left: 0;
    }

    .favorites-wrap{
        margin: 0;
    }

    .fav-tool{
        margin-bottom:10px;
    }

    .favorites-add-to-cart{
        margin-left:0;
        padding-left:15px;
    }

    .favorites-add-to-cart .fav-cart-btn{ 
        width: 99%;
    }
}